jobs/*
!jobs/DevRel/
jobs/DevRel/*
!jobs/DevRel/MONEI/
!jobs/DevRel/TYK/
!jobs/DevRel/Voxgig/
!jobs/SolutionsEngineer/
jobs/SolutionsEngineer/*
!jobs/SolutionsEngineer/Aircall/
jobs/DevRel/MONEI/application.html
